
.icon-emo-happy:before { content: '\e800'; } /* '?' */
.icon-emo-unhappy:before { content: '\e801'; } /* '?' */
.icon-emo-sleep:before { content: '\e802'; } /* '?' */
.icon-trash:before { content: '\e803'; } /* '?' */
.icon-trash-1:before { content: '\e804'; } /* '?' */
.icon-cancel:before { content: '\e805'; } /* '?' */
.icon-ok:before { content: '\e806'; } /* '?' */
.icon-ok-1:before { content: '\e807'; } /* '?' */
.icon-cancel-1:before { content: '\e808'; } /* '?' */
